@import "main";
form {
  display: none;
}

.field-label {
  width: 100px;
  display: inline-block;
  margin: 0 10px;
}

.data-field-item {
  label {
    width: 150px;
  }
}
.data-field-item {
  margin-bottom: 10px;
  label {
    padding-top: 8px;
  }
}
.subtitle {
  margin-bottom: 30px;
  margin-top: 24px;
  padding-left: 16px;
  color: #555;
}
#index_logo {
  margin-top: 10px;
}
#col_left {
  border-right: 1px solid #777;
  padding-bottom: 75px;
  padding-right: 35px;
  //background: #eee;
  //bottom: 0;
}

.container {
  margin-top: 117px !important;
}

#index_right {
  margin-left: 5%;
}

#loading {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  background: black;
  z-index: 100;
  text-align: center;
  div {
    font-size: 100pt;
    position: relative; top: 50%; transform: translateY(-50%);
    color: #ccc;
  }
}