@charset "UTF-8";

/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-04-17 22:45:46
 * @version $Id$
 */

/*ECharts*/
#version {
    width: auto;
    height: 400px;
}
.echarts {
    margin: auto;
    width: 80px;
    height: 50px;
}

/*导航栏*/
.navbar-fixed-top .navbar-collapse {
    max-height: none;
}

/*导航栏图标右边距*/
.nav .fa {
    margin-right: 8px;
}
.caret {
    margin-left: 10px;
}
.navbar-brand {
    padding: 5px 5px;
}
.content {
    margin-top: 70px;
    border-bottom: 1px solid white;
    background-color: white;
}
th {
    text-align: center;
}
@media (min-width:768px) {
    .content {
        margin-top: 60px;
        margin-left: 220px;
        padding: 10px 20px 100px 20px;
    }
    .content-inputs-col>button {
        width: 160px;
    }
}
@media (min-width:992px) {
    .content {
        position: absolute;
    }
}
@media (max-width:768px) {
    #content-title {
        margin-bottom: 30px;
    }
    #sidebar {
        display: flex;
        height: 200px;
        right: -220px;
        transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    }
    #sidebar-nav {
        background-color: #fff;
        border-radius: 6px;
        border: 1px solid #ddd;
    }
    #sidebar-nav li>a {
        background-color: white;
    }
    #sidebar-nav li>a:hover {
        background-color: #ebf5fb;
    }
    .slidebar-back-transform {
        transform: translateX(-235px);
    }
    .filter-dismis {
        position: absolute;
        top: 10px;
        right: 10px;
        color: #999999;
        background-color: white;
        cursor: pointer;
    }
    .filter-dismis:hover {
        background-color: #337ab7;
    }
    .filter-transform {
        transform: translateX(110%);
    }
    .content-inputs {
        display: flex;
        z-index: 999;
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 100%;
        right: 110%;
        top: 0;
        background-color: white;
        transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    }
    .content-inputs-head h1 {
        color: #999999;
        font-size: 20px;
    }
    .content-inputs .content-inputs-head {
        margin-bottom: 10px;
        display: flex;
    }
    .inputs-option {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #col-selectapp ul li a{
        display: flex;
        justify-content: space-between;
    }
    .content-inputs .content-inputs-col {
        margin-right: 0;
        margin-bottom: 30px;
    }
    .btn-group {
        width: 100%;
    }
    .content-inputs-col>button, .content-inputs-col >ul {
        text-align: center;
        width: 100%;
    }    
    .sidebar-inputs {
        margin-left: 10px;
        width: 90%;
    }
    .sidebar-inputs>button {
        display: flex;
        width: 100%;
        align-items: center;
    }
    #sidebar-nav>li>.sidebar-inputs>ul li>a {
        display: flex;
        align-items: center;
    }
    #sidebar-nav>li>.sidebar-inputs>ul li>a:hover {
        background-color: #ebf5fb;
    }
    .sidebar-inputs>ul {
        width: 100%;
    }
}
#sidebar {
    display: flex;
    flex-direction: column;
    width: 220px;
    position: fixed;
    top: 70px;
    bottom: 0;
    background-color: white;
    z-index: 99;
}
#app-picker {
    background-color: #F8F8F8;
    border-left: solid 4px #0391E6;
}
.app-ap {
    user-select: none;
    display: flex;
    height: 80px;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
    font-size: 14px;
}
.app-ap>img {
    max-width: 48px;
}
.app-ap:hover {
    background-color: #F0FFFF;
}
.app-ap-details {
    margin-left: 10px;
    margin-right: 100px;
    display: flex;
    height: 60%;
    flex-direction: column;
    justify-content: space-around;
}
.app-ap-info {
    display: flex;
    border: 1px solid  #E1E6DD;
    border-radius: 4px;
    font-size: 12px;
    color: #A0A0A0;
    line-height: 10px;
    align-items: center;
    padding: 1px 3px
}
.app-ap-caret {
    color: #7B7BA0;
}
.app-picker-slide {
    z-index: 1000;
    user-select: none;
    position: fixed;
    width: 300px;
    top: 50px;
    left: -304px;
    bottom: 0;
    background-color: white;
    border-radius: 8px;
    box-shadow: 5px 5px 6px #F2F2F2;
    font-size: 14px;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
}
.app-picker-slide-transform {
    transform: translateX(304px);
}
.app-picker-slide-search {
    width: 98%;
    display: flex;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 2px solid #f8f8f8;
}
.app-picker-slide-search>i {
    position: absolute;
    right: 55px;
    top: 20px;
    color: #b5b3b1;
    z-index: 1001
}
.app-picker-slide-search>button {
    background-color: #0391e6;
    margin-left: 5px;
}
.app-picker-slide-search>button>a {
    display: flex;
    color: white;
    line-height: 19px;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}
#sidebar-nav {
    padding: 12px 4px;
    color: black;
}
#sidebar-nav li>a {
    border-radius: 10px;
    margin: 5px 0;
    text-indent: 10px;
    color: black;
    height: 33px;
    line-height: 15px;
    padding-top: 10px;
}
#sidebar-nav>.active>a, #sidebar-nav>.active>a:hover {
    background-color: #ebf5fb;
    border-radius: 10px;
    color: #2791e6;
}
.platform-badge2 {
    display: inline-block;
    height: 100%;
    float: left;
}
.platform-badge3 {
    margin-left: 5px;
    display: inline;
    padding: 1px 3px;
    font-size: 12px;
    color: #A0A0A0;
    border-radius: 3px;
    margin: 1px;
    display: inline-block;
    padding-right: 10px;
    float: right;
}
.app-title-bar {
    margin-bottom: 20px;
}
.app-title-disclosure {
    font-size: 20px;
    margin-top: 0;
}
.input-icon {
    color: #999999;
    margin-right: 8px;
}
.input-caret {
    color: #999999;
}
.inputs-option {
    display: flex;
    width: 95%;
}
/*选择栏*/
.app-review-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.app-review-item {
    border-radius: 5px;
    margin-right: 5px;
    height: 34px;
    margin-bottom: 10px;
    min-width: 164px;
}
.app-review-item-data {
    margin-right: 5px;
    height: 34px;
    margin-bottom: 10px;
}
#reportrange {
    position: relative;
    background: #fff;
    cursor: pointer;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.app-review-bar button {
    width: 100%;
    height: 34px;
    align-items: center;
    text-align: left;
}
.app-review-search {
    border-radius: 5px;
    width: 164px;
    min-width: 164px;
    padding: 6px 10px 10px 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    height: 34px;
    border: 1px solid #ccc;
}
.close-arss {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    color: #999;
}

/*筛选栏关闭按钮*/
.close-arss-bottom {
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 1000;
    width: 0px;
    cursor: pointer;
}
.app-review-search>i {
    color: #999;
}
.app-review-search>input {
    border: 0px;
    width: calc(100% - 24px);
    height: 20px;
}
.app-review-data-caret {
    float: right;
    margin-top: 9px;
    color: #999;
}
.app-review-item-caret {
    float: right;
    margin-top: 9px;
    color: #999;
}
.app-review-clear {
    line-height: 34px;
    font-size: 12px;
    font-weight: bold;
    word-break: keep-all;
}
.app-review-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
#slidebar-in {
    cursor: pointer;
    font-size: 20px;
    border-bottom: 1px solid #ddd;
}

/*和文字相连的图标*/
.icon-txt {
    margin-right: 10px;
    margin-top: 3px;
    float: left;
    color: #999;
}

/*筛选栏*/
@media (max-width:768px) {
    .app-review-bar {
        background-color: #ffffff;
        height: 900px;
        width: 100%;
        position: fixed;
        left: -1000px;
        top: 0;
        z-index: 2000;
        flex-direction: column;
    }
    .app-review-item {
        width: 99%;
        height: 40px;
        margin-top: 30px;
    }
    .app-review-item-data {
        margin-top: 30px;
    }
    .app-review-bar button {
        width: 100%;
    }
    .app-review-bar ul {
        width: 100%;
    }
    .app-review-search {
        margin-left: auto;
        margin-right: auto;
        width: 194px;
    }
    #reportrange {
        width: 100%;
        text-align: center;
    }
    .app-review-clear {
        margin-left: auto;
        margin-right: auto;
    }
    .button-input {
        text-align: center;
    }
    .app-review-item ul {
        text-align: center;
    }
    .icon-txt {
        margin-right: 0px;
    }
    .app-review-bar button {
        width: 100%;
        text-align: center;
    }
}
.row-bar {
    display: inline-block;
    width: 134px;
    height: 5px;
    background-color: #ff5d48;
}
.row-bar-green {
    height: 100%;
    background-color: #0cd672;
}
#bar-green-1 {
    width: 70%;
}
#bar-green-2 {
    width: 30%;
}
#bar-green-3 {
    width: 56%;
}
#bar-green-4 {
    width: 45%;
}
/*表格主图*/
.app-column {
    margin-top: 30px;
}
.app-column-table {
    word-break: keep-all;
    margin: 0;
}
.table > tbody > tr > th {
    vertical-align: middle;
}
.app-column-table-item {

    /*vertical-align: middle;*/
    text-align: left;
    width: 80%;
}
@media (min-width:768px) {
    .app-column-table-item {
        width: 40%;
    }
}
.input-caret {
    position: absolute;
    right: 10px;
    top: 15px;
}
input {
    outline: medium;
}

/*金色星星*/
.fa-star {
    color: #F3B636;
}
.slidebar-in-button i {
    margin-right: 0px;
}
.platform-badge3 .icon-system {
    margin-right: 0;
}
#sidebar-nav .dropdown {
    width: 189px;
    margin-left: 10px;
}

/*表格文字居中*/
.tb-txt {
    text-align: center;
}

/*表格内容垂直居中*/
.app-column-table .mypanel-table-row td {
    vertical-align: middle;
}
.dropdown .btn {
    white-space: normal;
}